/* Write your code here: */
h1{
    color: crimson;
}
h2 {
    color: blueviolet;
  }
  
  
  .box  p {
    color: firebrick;
    font-size: 50px;
  }
  
  
  .box li {
    color: blue;
  }
  
  
  li.done {
    color: green;
  }
  
  
  ul  {
    font-size: 50px
  }